/*------------------ Master ------------------*/
/*------------------ Master ------------------*/

.relative {
	position: relative;
}

body .hiddenV {
	display: none;
}

/*-----------  Defaults ----------------*/
body {
	line-height: 1;
	font-family: "Montserrat", sans-serif;
	background: #f1f1f1;
	color: #666;
}
ol,
ul {
	list-style: none;
}
blockquote,
q {
	quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}
.clear {
	clear: both;
}
.clearfix:after {
	content: "";
	display: block;
	width: 100%;
	clear: both;
}
*,
*:before,
*:after {
	box-sizing: border-box;
}
p {
	line-height: 1.4;
}
em {
	font-style: italic;
}
a {
	color: inherit;
	text-decoration: none;
	transition: 0.5s;
	cursor: pointer;
}
a:hover {
	text-decoration: none;
	/*color: #1bac9c;*/
}
li {
	list-style: none;
	padding: 0;
	margin: 0;
}

ul {
	padding: 0;
	margin: 0;
}
strong {
	font-weight: bold;
}

h2,
.h2 {
	font-size: 30px;
}
h1,
h2,
h3 {
	margin-top: 20px;
	margin-bottom: 10px;
}
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
	font-weight: 500;
	line-height: 1.1;
	font-family: "Montserrat", sans-serif;
}
img {
	max-width: 100%;
}
b {
	font-weight: bold;
}
.text-wrap {
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.span {
	width: 100%;
	display: block;
}
.hidden {
	display: none;
	visibility: hidden;
}
.hide-visibillity {
	visibility: hidden;
}
/* .none {
	display: none;
}
*/
.hide-mobile {
	display: block;
}
.show-mobile {
	display: none;
}
.hide-tablet {
	display: block;
}
.show-tablet {
	display: none;
}
.left {
	float: left;
	display: inline-block;
}
.right {
	float: right;
}
.sp-5 {
	width: 5%;
}
.sp-10 {
	width: 10%;
}
.sp-15 {
	width: 15%;
}
.sp-20 {
	width: 20%;
}
.sp-22 {
	width: 22%;
}
.sp-25 {
	width: 25%;
}
.sp-30 {
	width: 30%;
}
.sp-33 {
	width: 33%;
}
.sp-35 {
	width: 35%;
}
.sp-40 {
	width: 40%;
}
.sp-45 {
	width: 45%;
}
.sp-50 {
	width: 50%;
}
.sp-55 {
	width: 55%;
}
.sp-58 {
	width: 58%;
}
.sp-60 {
	width: 60%;
}
.sp-65 {
	width: 65%;
}
.sp-66 {
	width: 66%;
}
.sp-70 {
	width: 70%;
}
.sp-75 {
	width: 75%;
}
.sp-80 {
	width: 80%;
}
.sp-85 {
	width: 85%;
}
.sp-87-5 {
	width: 87.5%;
}
.sp-90 {
	width: 90%;
}
.sp-91 {
	width: 91%;
}
.sp-92-5 {
	width: 92.5%;
}
.sp-94 {
	width: 94%;
}
.sp-95 {
	width: 95%;
}
.sp-97-5 {
	width: 97.5%;
}
.sp-100 {
	width: 100%;
}
.block {
	display: inline-block;
	width: 100%;
}
.inline {
	display: inline-block;
}
.modal-card {
	padding: 20px;
	background: #fff;
	border: 1px solid #e7e7e7;
	border-radius: 3px;
}
.inner {
	clear: both;
}
.uppercase {
	text-transform: uppercase;
}
.capitalize {
	text-transform: capitalize;
}
.big_container {
	width: 1360px;
	margin: auto;
	max-width: 100%;
	position: relative;
}
.container-95 {
	width: 95%;
	margin: auto;
	max-width: 100%;
}
.container-80 {
	width: 80%;
	margin: auto;
}
.container {
	width: 1070px;
	margin: auto;
	max-width: 100%;
}
.container-90 {
	width: 90%;
	margin: auto;
	max-width: 100%;
}
.container-85 {
	width: 85%;
	margin: auto;
	max-width: 100%;
}
.container-mega {
	width: 98%;
	margin: auto;
}
.center {
	text-align: center;
}
.auto {
	margin: auto;
}
.absolute {
	position: absolute;
}
.fixed {
	position: fixed;
}
.vtop {
	vertical-align: top;
}
.relative {
	position: relative;
}
.page-wrapper {
	background: #f1f1f1;
	max-width: 100%;
}
*:hover {
	transition: 0.5s;
}
.light {
	font-weight: 300;
}
.normal {
	font-weight: 400;
}
.medium {
	font-weight: 500;
}
.strong {
	font-weight: 600;
}
.bold {
	font-weight: 700;
}
.heavy {
	font-weight: 800;
}
.slant {
	font-style: italic;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.color_light {
	color: rgba(16, 59, 62, 0.74);
}
.color_lighter {
	color: rgba(16, 59, 62, 0.47);
}
.color_primary {
	color: #103b3e;
}
.color_inverted {
	color: #98ae5d;
}
.color_bold {
	color: #092223;
}
.color_text {
	color: #658c86;
}
.white {
	color: #fff;
}
.italic {
	font-style: italic;
}
.straight {
	font-style: normal;
}
.underline {
	text-decoration: underline;
}
.btn {
	background: #103b3e;
	padding: 13px 42px;
	border-radius: 4px;
	color: #fff;
}
.btn_smaller {
	padding: 7px 25px;
}
.btn_inverted {
	color: #103b3e;
	background: #b4cd7c;
}
.font_2 {
	font-family: "Roboto Slab", serif;
}
.font_1 {
	font-family: "Montserrat", sans-serif;
}
.font_17 {
	font-size: 17px;
}
.size-text {
	font-size: 14px;
}
.pointer {
	cursor: pointer;
}
.outbox {
	position: relative;
}
.outbox:after {
	content: "";
	position: absolute;
	right: -20px;
	width: 100%;
	height: 100%;
	top: 20px;
	border: 3px solid #cacfd0;
	border-radius: 4px;
	z-index: -1;
}
.outbox-thinner:after {
	top: 13px;
	right: -13px;
}
.overflow-hide {
	overflow: hidden;
}

/*--------------------- Other ---------------------*/

a.link-cart {
	display: none;
}
.logged-in a.link-cart {
	display: block;
}

/*--------------------- Header ---------------------*/

body header .block-username {
	font-size: 17px;
	letter-spacing: 0.6px;
	line-height: 50px;
	font-weight: 700;
	color: #000;
	margin: 0 0 0;
}

.header.style-08 .inner-control > *,
.header.style-05 .inner-control > *,
.header.style-04 .inner-control > * {
	margin: 0 5px;
}

html body .header.style-09 .inner-control a span.power-show {
	display: inline-block;
	margin: 0 0 0 15px;
	vertical-align: top;
}

html body .header.style-09 .inner-control .block-userlink > a > * {
	vertical-align: middle;
}

/*--------------------- Registration Form ---------------------*/

.form-row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
}
.form-column {
	display: block;
	flex: 1;
}

p.form-row {
	display: block;
}

.form-column:nth-child(2) {
	padding-left: 20px;
}

.woocommerce form .form-row label,
.woocommerce-page form .form-row label,
.woocommerce-form-login .woocommerce-LostPassword {
	font-size: 15px;
}

span.form-tip {
	font-size: 12px;
	padding: 0 0 10px;
	display: block;
}

.woocommerce-form-register .woocommerce-privacy-policy-text p:last-child {
	font-size: 14px;
	line-height: 1.5;
}

.country_code {
	content: "";
	position: absolute;
	width: 50px;
	height: 30px;
	left: 0;
	display: block;
	border-right: 1px solid #ccc;
	top: 5px;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
}

input#reg_phone {
	padding-left: 70px;
}

.otp_div {
	margin: 15px 0 -15px;
}

.mid-size-column {
	width: 600px;
	margin: auto;
	max-width: 95%;
}

form.woocommerce-form h4 {
	margin: 35px 0 20px;
	font-weight: 700;
	font-size: 18px;
}

span.vn_form-err,
.master_login-err,
.vn_gst-err {
	padding: 15px 45px;
	display: inline-block;
	background: #cf000f;
	color: #fff;
	border-radius: 5px;
	margin: 25px 0 0;
}

span.vn_form-err,
.master_login-err,
.vn_gst-err {
	display: none;
}

.form-row span.required {
	color: #f05127;
}

.reg_gst {
	margin: -10px 0 10px;
}

.reg_gst.verified {
	position: relative;
}

.reg_gst.verified:before {
	content: "";
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
}

.reg_gst.verified:after {
	content: "";
	background-image: url("../../../../uploads/2022/06/check-mark.png");
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	background-repeat: no-repeat;
	background-size: 27px;
	background-position: calc(100% - 5px) 50%;
}

.resend_otp {
	padding: 8px 0 0;
	font-size: 13px;
}

ul.business-list li {
	list-style: none;
	display: inline-block;
	padding-right: 15px;
}

ul.business-list {
	padding: 0;
}

span.resend_otp-text {
	padding: 5px 0 0;
}

span.resend_otp-link {
	float: right;
	padding: 5px 0 0;
	cursor: pointer;
	color: var(--main-color);
	font-weight: 700;
	position: relative;
}

span.resend_otp-link:after {
	content: "";
	position: absolute;
	width: 100%;
	top: 100%;
	height: 1px;
	background: var(--main-color);
	left: 0;
}

.vn_form-err {
	display: none;
	padding: 10px 50px;
	background: #d91e18;
	color: #fff;
	border-radius: 5px;
	font-size: 15px;
}

.funding_amount {
	display: none;
}

form#update_register_form .form-row .form-column small {
	padding: 5px 0 0;
	display: block;
}

.register-banner {
	display: block;
}

.register-banner {
	background-image: url("../../../../uploads/2022/06/registration-banner.jpg");
	height: 300px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

/*------------------ Dashboard ------------------*/

.mt-50.mb-50 {
	margin: 50px 0;
}
.site-content.shop-page.sidebar-left #primary {
	width: calc(100% - 20px) !important;
}

.dokan-rma-options {
	display: none;
}

.dokan-linked-product-options.hide_if_external {
	display: none;
}
.tooltip-inner {
	max-width: 500px;
	line-height: 14px;
}
.product-edit-container label i.tips {
	background-color: black;
	color: white;
	padding: 3px;
	border-radius: 45%;
	font-size: 10px;
	margin: 0 5px 0 10px;
	display: inline;
	vertical-align: middle;
}
td.dokan-order-action .button {
	background-color: #fff;
	padding: 6px 15px;
	width: 33%;
}
td.dokan-order-action a.dokan-btn {
	padding: 8px 10px;
	width: 33%;
}
/*----------------- Thank You page -----------------*/
h2.woocommerce-order-details__title {
	display: none;
}
.order-details {
	margin-right: 29px;
}
.order-details {
	margin-right: 46px;
	margin-left: 39px;
	background-color: #fff;
}
.woocommerce-thankyou-order-details li {
	list-style: none;
	line-height: 47px;
	font-size: 16px;
}
section.woocommerce-customer-details {
	line-height: 31px;
	font-size: 17px;
}
.Order-page-details {
	margin: 50px 0;
}
section.woocommerce-order-details .dokan-info {
	display: none;
}

/*----------------- Loader -----------------*/

.sign_up_creation {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgb(0 0 0 / 95%);
	z-index: 11;
	display: none;
}

.sc_box {
	position: absolute;
	width: 300px;
	text-align: center;
	height: 260px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
}

.sc_loader img {
	width: 120px;
	margin-bottom: 25px;
}

.sc_text {
	font-size: 30px;
	line-height: 1.5;
	font-weight: 600;
	color: white;
}

/*------------------ Woocommerce Single Page ------------------*/

.dokan-vendor-info-wrap {
	display: none;
}

.entry-summary-end {
	display: none;
}

.product {
	margin-top: 50px;
}

/* body .product_meta .share {
	display: none;
} */

.upsells {
	display: none;
}

.reg_lastname_err {
	color: red;
	position: relative;
	top: 7px;
}

ul.business-list li {
	list-style-type: none;
}
ul.product-desc li {
	list-style: desc !important;
	line-height: 24px;
}

.single-product-wrapper .sign_agreement {
	text-align: left;
}

.single-product-wrapper .sign_agreement a {
	color: #fff;
	text-align: center;
	margin: 35px 0 0;
	cursor: pointer;
}

body .dokan-vendor-info-wrap {
	padding: 0;
	border: 0;
}

/*---------------- Checkout Page --------------*/

body.woocommerce-checkout {
	background-color: #f6f5f1;
}
.checkout-box .ck-profile {
	width: 590px;
}
body.woocommerce-checkout .head-banner,
.page-id-30 .head-banner,
.dokan-store .head-banner {
	display: none;
}
.admin-billing h3 {
	margin-top: -28px;
	margin-bottom: 23px !important;
}
.woocommerce-additional-fields {
	display: none;
}
.woocommerce-order .thnk-order {
	width: 36%;
	margin-right: 30px;
	float: left !important;
}
.woocommerce-order .ord-dtls {
	width: 58%;
	margin-right: 30px;
	float: right;
}
.join_title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 200px;
	text-align: center;
	padding: 20px 0;
}
.ck-center {
	width: 350px;
	margin: 0px 38px;
}
.ck-profile {
	width: 350px;
	max-width: 100%;
	z-index: 1;
	margin-bottom: 55px;
}
.ck-profile-box {
	background: #fff;
	border-radius: 5px;
	padding: 34px 40px;
}
.ck_box-title h3 {
	font-size: 20px;
	margin: 0 0 45px;
}
.ck_profile_row {
	padding: 0 0 25px;
	margin: 0 0 25px;
	border-bottom: 1px solid rgba(16, 59, 62, 0.2);
}
.ck_profile_row:last-child {
	border: 0;
	margin-bottom: -4px;
}
.ck_profile_row img {
	border-radius: 50%;
	width: 95px;
}
.ck_profile_row label {
	display: block;
	padding-bottom: 5px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
	color: #103b3e;
	margin: 0;
}
.ck_profile_row span {
	font-size: 15px;
	color: rgba(15, 59, 62, 0.47);
	line-height: 1.5;
}

.ck-payment-gateway li {
	margin-left: 15px;
	font-size: 17px;
	line-height: 1.5;
	list-style-image: url(../../../../uploads/2019/02/Oval-Copy@2x.png);
}
.ck-pg-second {
	padding-top: 48px;
	font-size: 14px;
}
.ck-pg-second img {
	width: 250px;
	vertical-align: middle;
	/* margin-left: 20px; */
}
.ck-pg-first img {
	width: 115px;
	padding-top: 10px;
}
.ck-bill {
	max-width: 435px;
}
.ck-bill .ck-profile-box {
	padding: 35px 25px;
}
.woocommerce-checkout-review-order tr th {
	border: none;
}
/*.woocommerce-checkout-payment .payment_methods {
	display: none;
}
*/
.woocommerce-privacy-policy-text {
	font-size: 13px;
}
.woocommerce-checkout-review-order tr td:last-child,
.woocommerce-checkout-review-order tr th:last-child {
	text-align: right;
}
#add_payment_method #payment,
.woocommerce-cart #payment,
.woocommerce-checkout #payment {
	background: none;
}
#add_payment_method #payment div.form-row,
.woocommerce-cart #payment div.form-row,
.woocommerce-checkout #payment div.form-row {
	padding: 0;
}
.woocommerce #payment #place_order,
.woocommerce-page #payment #place_order {
	background: #f05127;
	width: 284px;
	float: none;
	margin: 10px auto 0;
	display: block;
	height: 65px;
	font-size: 18px;
	text-transform: uppercase;
	color: #fff;
	font-family: inherit;
}
.woocommerce table.shop_table {
	border: 0;
	margin: 0 0px 46px 0;
	border-radius: 0;
}
.woocommerce table.shop_table tr {
	font-size: 14px;
	color: rgba(16, 59, 62, 0.47);
	border: 0;
}
.woocommerce table.shop_table tr td:last-child {
	color: rgba(16, 59, 62, 0.64);
	text-align: right;
	font-weight: bold;
}
.woocommerce table.shop_table td,
.woocommerce table.shop_table tbody th,
.woocommerce table.shop_table tfoot td,
.woocommerce table.shop_table tfoot th {
	border: 0;
}
tr.order-total td,
tr.order-total th {
	font-size: 17px;
	margin-top: 30px !important;
	border-top: 1px solid rgba(16, 59, 62, 0.2) !important;
}
.checkout_page .log_note {
	padding: 5px 0 55px;
}
.woocommerce-notices-wrapper {
	display: none;
}
tr.tax-rate.tax-rate-tax-1 th:after {
	content: " (VAT 5%)";
}
.ck-payment-gateway {
	z-index: 1;
	margin-bottom: 40px;
}
.promo_box {
	z-index: 1;
}
.promo_cont {
	background: #fff;
	padding: 34px 40px;
}
.woocommerce-form-coupon-toggle {
	display: none;
}
.woocommerce form.checkout_coupon {
	display: block !important;
	border: 0;
	border-radius: 5px;
	margin: 0;
	padding: 0;
}
.promo_cont .woocommerce form .form-row-first,
.woocommerce-page form .form-row-first {
	width: 100%;
	float: none;
}
.promo_cont input {
	height: 40px;
	width: 100% !important;
	display: block;
	border: 1px solid rgba(16, 59, 62, 0.47);
	border-radius: 5px;
	padding-left: 15px;
	margin: 5px 0 14px 0;
}
.promo_cont .woocommerce form .form-row-last,
.woocommerce-page form .form-row-last {
	float: none;
}
.promo_cont button.button {
	width: 120px;
	background: #b6cb7d;
	text-transform: uppercase;
	font-size: 0;
	color: #103b3e;
	font-weight: 700;
	border: none;
	border-radius: 3px;
}
.promo_cont button.button:after {
	content: "Apply";
	font-size: 14px;
	line-height: 40px;
}
form.checkout_coupon.woocommerce-form-coupon p:first-child {
	font-size: 0;
	color: rgba(16, 59, 62, 0.64);
	padding-bottom: 7px;
}
form.checkout_coupon.woocommerce-form-coupon p:first-child:after {
	content: "Have a Promo Code?";
	font-size: 15px;
	padding: 0 5px 10px;
}
.woocommerce-message::before {
	content: "\e015";
	color: #b6cb7d;
}
.woocommerce-message {
	border-top-color: #b6cb7d;
}
.woocommerce-message {
	border-top-color: #b6cb7d;
	font-size: 14px;
	line-height: 1.5;
	background: #e4e6e6;
	color: rgba(16, 59, 62, 0.64);
	font-weight: bold;
}
.promo_cont button.button:hover {
	background: #b6cb7d;
}
.woocommerce-error {
	border-top-color: #cf000f;
	font-size: 14px;
	line-height: 1.5;
	background: #e4e6e6;
	color: rgba(16, 59, 62, 0.64);
}
ul.woocommerce-error {
	padding: 10px;
	font-weight: bold;
	margin-bottom: 15px;
	font-size: 13px;
}
span.woocommerce-terms-and-conditions-checkbox-text {
	font-size: 14px;
	color: rgba(16, 59, 62, 0.47);
	font-family: Roboto Slab;
	line-height: 1.5;
}
div.woocommerce-checkout-payment {
	margin: -65px 0 15px;
}
.woocommerce-terms-and-conditions-wrapper {
	padding-bottom: 15px;
}
.ft-background {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba(16, 59, 62, 0.95);
	z-index: 1;
}
.ft-modal-box {
	position: fixed;
	z-index: 2;
	width: 430px;
	max-width: 85%;
	padding: 15px 22px;
	background: #fff;
	top: 0;
	bottom: 0;
	margin: auto;
	left: 0;
	right: 0;
	height: 150px;
	border-radius: 3px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
.ft_modal-text {
	line-height: 1.5;
	font-size: 19px;
	margin-bottom: 35px;
}
a#ft_cancel,
a#ft_continue {
	margin: 0 10px;
	padding: 10px 30px;
	font-size: 14px;
	text-transform: uppercase;
}
.woocommerce-terms-and-conditions-wrapper {
	padding: 10px 0 20px;
}
div#order_review {
	margin: 15px 0 20px;
}
a.woocommerce-remove-coupon {
	font-weight: 500;
}
button.disabled {
	opacity: 0.7;
	cursor: not-allowed;
}
label.woocommerce-form__label.woocommerce-form__label-for-checkbox.checkbox a {
	font-weight: bold;
}

.woocommerce-billing-fields {
	display: none;
}
.admin-billing {
	display: block;
}

.billling-dtls .ck-profile-box {
	padding: 61px;
	width: 567px;
}
tr.cart_item td {
	font-size: 14px;
	/*color: #222; */
}
.woocommerce-privacy-policy-text {
	font-size: 14px;
	line-height: 1.5em;
}

.woocommerce-thankyou-order-received {
	color: #222;
	font-size: 20px;
	padding: 30px 30px;
	background-color: #fff;
}
.billing-dtls {
	position: relative;
	top: -98px;
}
td.woocommerce-table__product-name a {
	color: rgba(16, 59, 62, 0.47);
	font-size: 17px;
}
.ord-dtls th {
	font-size: 20px;
}
.ord-dtls .product-name a {
	color: #222222c4;
	font-weight: 800;
}

.order-details .woocommerce-table__line-item td {
	color: #222222c4;
	font-size: 16px;
	line-height: 29px;
	font-weight: 800;
}

body .amount {
	color: inherit;
}

.ord-dtls .amount {
	font-size: 17px;
	color: #222;
}

/*------------------ Footer ------------------*/

.footer {
	background-color: white;
}

/************ Home *************/

@media only screen and (max-width: 720px) {
	.sp-80 {
		width: 100%;
	}
	.hm_banner-search_box button {
		width: 100% !important;
		margin: 10px 0px !important;
	}
}

.hm_banner {
	height: 600px;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	background-position: url("../../../../uploads/2022/06/Main-home-page-banner-scaled.jpg") !important;
}
.hm_banner_box {
	padding: 25px 0 0;
}
.mask {
	height: inherit;
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}
.big_container {
	width: 1360px;
	margin: auto;
	max-width: 100%;
	position: relative;
}
.container-90 {
	width: 90%;
	margin: auto;
	max-width: 100%;
}
.hm_banner-logo {
	padding: 40px 0 20px;
}
.hm_banner-logo img {
	max-height: 130px;
	width: auto;
}
.center {
	text-align: center;
}
.hm_banner-c2a h1 {
	font-size: 33px;
	margin: 0 0 27px;
	line-height: 1.5;
}
.hm_banner-search {
	width: 650px;
}
body .hm_banner-search_item input {
	height: 55px;
	border-radius: 5px !important;
}
.auto {
	margin: auto;
}
.hm_banner-search h2 {
	font-size: 17px;
	margin: 0 0 12px;
	font-weight: 400;
}
.hm_banner-search_item,
.facetwp-facet.facetwp-facet-Proximity.facetwp-type-proximity {
	position: relative;
	z-index: 2;
}
.hm_banner-search_item,
.facetwp-facet.facetwp-facet-Proximity.facetwp-type-proximity {
	position: relative;
	z-index: 2;
}
span.facetwp-input-wrap {
	width: 100%;
}
.hm_banner-search_box .locate-me {
	top: 9px !important;
	right: 10px !important;
	position: absolute;
	cursor: pointer;
	opacity: 0.9 !important;
	transform: none;
}
.facetwp-icon.locate-me:before {
	background-image: url("../../../../uploads/2022/06/icon-locate-1.png");
}
.facetwp-icon:before {
	display: inline-block;
	content: "";
	width: 30px;
	height: 100%;
	background: url("../../../../uploads/2022/06/icon-locate-1.png") no-repeat;
	background-size: 20px 20px;
}
.facetwp-facet input.facetwp-search,
.facetwp-facet input.facetwp-location {
	margin: 0;
	padding-right: 30px;
	min-width: 240px;
}
.location-results {
	position: absolute;
	background: #fff;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	overflow: hidden;
	width: 100%;
}
span.facetwp-input-wrap {
	width: 100%;
}
.hm_banner-search_item input {
	width: 100%;
	height: 40px;
	border-radius: 3px;
	border: 1px solid #e7e7e7;
	font-size: 12px;
	padding-left: 22px;
	color: #707070;
	outline: 0;
	line-height: 40px;
}
.hm_banner-search_item input {
	width: 100%;
	height: 40px;
	border-radius: 3px;
	border: 1px solid #e7e7e7;
	font-size: 12px;
	padding-left: 22px;
	color: #707070;
	outline: 0;
	line-height: 40px;
}
.hm_banner-search_item input {
	width: 100%;
	height: 40px;
	border-radius: 3px;
	border: 1px solid #e7e7e7;
	font-size: 12px;
	padding-left: 22px;
	color: #707070;
	outline: 0;
	line-height: 40px;
}

.hm_banner-search_box button {
	width: 18%;
	background-color: #dd433f;
	height: 40px;
	border: 0;
	border-top-right-radius: 10px;
	color: #fff;
	border-bottom-left-radius: 10px;
	font-size: 0;
	background-image: url(/wp-content/uploads/2018/07/search.png);
	background-size: 18px;
	background-repeat: no-repeat;
	background-position: center;
	margin-left: 2%;
	outline: 0;
	height: 55px;
}

.clear {
	clear: both;
}

.hm_banner-seperator {
	width: 34px;
	position: relative;
	margin: 18px auto;
	font-size: 18px;
	font-weight: 500;
}

.hm_banner-seperator:before,
.hm_banner-seperator:after {
	content: "";
	position: absolute;
	width: 110px;
	border-bottom: 1px solid #fff;
	right: 51px;
	height: 9px;
	top: 7px;
}
.hm_banner-seperator:after {
	left: 51px;
	right: 0;
}
.hm_banner-seperator:after {
	content: "";
	position: absolute;
	width: 110px;
	border-bottom: 1px solid #fff;
	right: 51px;
	height: 9px;
}
.facetwp-seo,
.facetwp-hidden {
	display: none;
}

.facetwp-counts {
	display: inline;
}

span.facetwp-search-wrap input {
	height: 51px;
	line-height: 51px;
	padding: 0 20px;
	outline: none;
	font-size: 15px;
	color: #808080;
	margin: 0 0 16px 0;
	max-width: 100%;
	width: 100%;
	box-sizing: border-box;
	display: block;
	background-color: #fff;
	border: 1px solid #dbdbdb;
	box-shadow: 0 1px 3px 0px rgb(0 0 0 / 6%);
	font-weight: 500;
	opacity: 1;
	border-radius: 3px;
}

body .facetwp-btn {
	top: 17px;
	right: 16px;
}

span.location-wrap input {
	height: 51px;
	line-height: 51px;
	padding: 0 20px;
	outline: none;
	font-size: 15px;
	color: #808080;
	margin: 0 0 16px 0;
	max-width: 100%;
	width: 100%;
	box-sizing: border-box;
	display: block;
	background-color: #fff;
	border: 1px solid #dbdbdb;
	box-shadow: 0 1px 3px 0px rgb(0 0 0 / 6%);
	font-weight: 500;
	opacity: 1;
	border-radius: 3px;
}

span.location-wrap {
	width: 75%;
}

body .locate-me {
	top: calc(50% - 8px);
	right: 15px;
}

select#facetwp-radius {
	width: 24%;
	height: 51px;
	line-height: 51px;
	padding: 0 20px;
	outline: none;
	font-size: 15px;
	color: #808080;
	margin: 0 0 16px 0;
	box-sizing: border-box;
	display: inline-block;
	background-color: #fff;
	border: 1px solid #dbdbdb;
	box-shadow: 0 1px 3px 0px rgb(0 0 0 / 6%);
	font-weight: 500;
	opacity: 1;
	border-radius: 3px;
	vertical-align: top;
}

body .facetwp-facet {
	margin-bottom: 15px;
}

div#facetwp-map {
	width: 100% !important;
	height: 97vh !important;
}

button.facetwp-map-filtering {
	display: none;
}

input#facetwp-location {
	height: 51px;
}

/********* Store **********/

.lst_related_item {
	width: 46%;
	float: left;
	margin: 0 2%;
	background: #fff;
	border-radius: 4px;
	min-height: 403px;
	z-index: 1;
}
.outbox {
	position: relative;
}
.lst_related_inside {
	background: #fff;
	border-radius: 4px;
}
.lst_related_image img {
	width: 100%;
	height: 181px;
}
.lst_related_image img {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.vn_featured_cont,
.listing_title_box,
.lst_realted_text_box,
.lst_related_inside {
	background: #fff;
	border-radius: 4px;
}
.lst_realted_text_box h3 {
	font-size: 18px;
	margin-top: 20px;
}
.lst_realted_text_box h3 i {
	padding-right: 5px;
}
.lst_related_shrt_add {
	font-size: 12px;
	margin-bottom: 8px;
	line-height: 1.4;
	color: rgba(16, 59, 62, 0.64);
}
.lst_related_rating {
	margin: 15px 0;
}
.lst_related_content {
	margin: 12px 0 8px;
	text-align: center;
	font-size: 14px;
	line-height: 1.5;
	padding: 0 5px;
	color: rgba(16, 59, 62, 0.64);
}
.container-80 {
	width: 80%;
	margin: auto;
}
.clear {
	clear: both;
}
.entry-content {
	padding: 60px 0px;
}

/*----------------------------------- */
/* Half Screen Map
------------------------------------- */
.fs-container {
	height: 100%;
	width: 100%;
}

.fs-container #map-container {
	position: relative;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	margin-bottom: 0px;
}

.fs-content {
	max-height: 100%;
	padding: 0;
}

.fs-container section.search {
	padding: 45px 40px;
}

.fs-container .fs-listings {
	padding: 0 25px;
	margin: 0;
}

.fs-switcher {
	padding: 0 25px;
	margin: 0;
}

/* Inner Containers */
.fs-inner-container {
	width: 50%;
	float: left;
	display: inline-block;
}

.fs-inner-container.content {
	width: 55%;
	background-color: #f7f7f7;
	z-index: 1;
	/* box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.12); */
	position: relative;
	/* padding-top: 80px; */
}

.fs-inner-container {
	width: 45%;
	background-color: #fff;
	z-index: 0;
}

.fs-container .copyrights {
	padding: 30px 0;
	font-size: 15px;
}

#header-container.fixed {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1100;
	background-color: #fff;
}

.fs-inner-container.map-fixed {
	height: 100vh;
	position: fixed;
	top: 0;
	padding-top: 80px;
}

button.fs-map-btn.button {
	position: relative;
	float: right;
	top: 6px;
	padding: 10px 40px;
	margin: 0;
}

.fs-container .more-search-options-trigger {
	position: relative;
	top: 10px;
}

.showing-results {
	color: #888;
	font-weight: 500;
	margin: 5px 0 25px 0;
}

.listings-container.fs-listings {
	left: 0;
	width: 100%;
	position: relative;
}

.listings-container.fs-listings.grid-layout {
	left: 0;
	width: 100%;
	position: relative;
}

.listings-container.fs-listings.list-layout {
	padding: 0 40px;
}

.listings-container.fs-listings.list-layout .listing-content {
	flex: 4;
}
.listings-container.fs-listings.list-layout .listing-img-container {
	flex: 0 auto;
	max-width: 300px;
}

/* Grid layout below 1366px screens */
@media (max-width: 1365px) {
	.block-search.sub-menu {
		display: none;
	}
	.listings-container.fs-listings.grid-layout .listing-item {
		width: 100%;
		margin: 0 0 30px 0;
	}
	.listings-container.fs-listings.grid-layout {
		padding: 0 40px;
	}

	.listings-container.fs-listings.list-layout .listing-item {
		display: block;
	}
	.listings-container.fs-listings.list-layout .details.button.border {
		display: none;
	}
	.listings-container.fs-listings.list-layout .listing-img-container {
		max-width: 100%;
	}

	.fs-switcher .layout-switcher {
		display: none;
	}
}

/* Forms Grid */
.col-fs-12,
.col-fs-11,
.col-fs-10,
.col-fs-9,
.col-fs-8,
.col-fs-7,
.col-fs-6,
.col-fs-5,
.col-fs-4,
.col-fs-3,
.col-fs-2,
.col-fs-1 {
	float: left;
	padding: 0 10px;
}

.col-fs-12 {
	width: 100%;
}
.col-fs-11 {
	width: 91.66666667%;
}
.col-fs-10 {
	width: 83.33333333%;
}
.col-fs-9 {
	width: 75%;
}
.col-fs-8 {
	width: 66.66666667%;
}
.col-fs-7 {
	width: 58.33333333%;
}
.col-fs-6 {
	width: 50%;
}
.col-fs-5 {
	width: 41.66666667%;
}
.col-fs-4 {
	width: 33.33333333%;
}
.col-fs-3 {
	width: 25%;
}
.col-fs-2 {
	width: 16.66666667%;
}
.col-fs-1 {
	width: 8.33333333%;
}

@media (max-width: 1599px) {
	.col-fs-12,
	.col-fs-11,
	.col-fs-10,
	.col-fs-9,
	.col-fs-8,
	.col-fs-7,
	.col-fs-6 {
		width: 100%;
	}

	.col-fs-5,
	.col-fs-4,
	.col-fs-3,
	.col-fs-2,
	.col-fs-1 {
		width: 50%;
	}
}

@media (max-width: 992px) {
	.col-fs-12,
	.col-fs-11,
	.col-fs-10,
	.col-fs-9,
	.col-fs-8,
	.col-fs-7,
	.col-fs-6,
	.col-fs-5,
	.col-fs-4,
	.col-fs-3,
	.col-fs-2,
	.col-fs-1 {
		width: 100%;
	}

	.overflow-hidden {
		overflow: hidden;
	}
}

/* Alignment */
.row.with-forms input,
.row.with-forms input[type="text"],
.row.with-forms input[type="password"],
.row.with-forms input[type="email"],
.row.with-forms input[type="number"],
.row.with-forms textarea,
.row.with-forms input,
.row.with-forms select,
.row.with-forms .chosen-container {
	margin-bottom: 18px;
}

.row.with-forms {
	margin-left: -10px;
	margin-right: -10px;
}

.with-forms .col-xs-1,
.with-forms .col-sm-1,
.with-forms .col-md-1,
.with-forms .col-lg-1,
.with-forms .col-xs-2,
.with-forms .col-sm-2,
.with-forms .col-md-2,
.with-forms .col-lg-2,
.with-forms .col-xs-3,
.with-forms .col-sm-3,
.with-forms .col-md-3,
.with-forms .col-lg-3,
.with-forms .col-xs-4,
.with-forms .col-sm-4,
.with-forms .col-md-4,
.with-forms .col-lg-4,
.with-forms .col-xs-5,
.with-forms .col-sm-5,
.with-forms .col-md-5,
.with-forms .col-lg-5,
.with-forms .col-xs-6,
.with-forms .col-sm-6,
.with-forms .col-md-6,
.with-forms .col-lg-6,
.with-forms .col-xs-7,
.with-forms .col-sm-7,
.with-forms .col-md-7,
.with-forms .col-lg-7,
.with-forms .col-xs-8,
.with-forms .col-sm-8,
.with-forms .col-md-8,
.with-forms .col-lg-8,
.with-forms .col-xs-9,
.with-forms .col-sm-9,
.with-forms .col-md-9,
.with-forms .col-lg-9,
.with-forms .col-xs-10,
.with-forms .col-sm-10,
.with-forms .col-md-10,
.with-forms .col-lg-10,
.with-forms .col-xs-11,
.with-forms .col-sm-11,
.with-forms .col-md-11,
.with-forms .col-lg-11,
.with-forms .col-xs-12,
.with-forms .col-sm-12,
.with-forms .col-md-12,
.with-forms .col-lg-12 {
	padding: 0 10px;
}

/* ---------------------------------- */
/* Listing Item
------------------------------------- */

.listing-item-container {
	/*	background: linear-gradient(to top, #f4f4f4 0%, #f9f9f9 10%); */
	background-color: #f6f6f6;
	display: block;
	height: 100%;
	width: 100%;
	border-radius: 4px;
	transform: translate3d(0, 0, 0);
	transition: transform 0.3s;
	margin-bottom: 30px;
}

section.fullwidth .listing-item-container,
.fs-content .listing-item-container {
	box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.08);
	background-color: #fff;
	background: #fff;
	overflow: hidden;
}

section.fullwidth .listing-item-container.list-layout,
.fs-content .listing-item-container.list-layout {
	box-shadow: none;
}

.listing-item-container:hover {
	transform: translate3d(0, -6px, 0);
}

.listing-item {
	background: #ccc;
	border-radius: 4px 4px 0 0;
	height: 100%;
	display: block;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: 50%;
	height: 265px;
	z-index: 100;
	cursor: pointer;
}

.listing-item img {
	object-fit: cover;
	height: 100%;
	width: 100%;
	border-radius: 4px 4px 0 0;
}

.listing-item:before {
	content: "";
	top: 0;
	position: absolute;
	height: 100%;
	width: 100%;
	z-index: 9;
	background: linear-gradient(
		to top,
		rgba(35, 35, 37, 0.9) 0%,
		rgba(35, 35, 37, 0.45) 35%,
		rgba(22, 22, 23, 0) 60%,
		rgba(0, 0, 0, 0) 100%
	);
	background-color: rgba(35, 35, 37, 0.2);
	border-radius: 4px 4px 0 0;
	opacity: 1;
}

.listing-item-content {
	position: absolute;
	bottom: 28px;
	left: 0;
	padding: 0 32px;
	padding-right: 90px;
	width: 100%;
	z-index: 50;
	box-sizing: border-box;
}

.listing-item-content h3 {
	color: #fff;
	font-size: 20px;
	bottom: -1px;
	position: relative;
	font-weight: 500;
	margin: 0;
	line-height: 31px;
}

.listing-item-content span {
	font-size: 16px;
	font-weight: 300;
	display: inline-block;
	color: rgba(255, 255, 255, 0.7);
}

.listing-item-container.list-layout span.tag,
.listing-item-content span.tag {
	text-transform: uppercase;
	font-size: 9px;
	letter-spacing: 2.5px;
	font-weight: 60;
	background: #66676b;
	border-radius: 50px;
	padding: 4px 16px;
	line-height: 20px;
	color: #fff;
	font-weight: 400;
	margin-bottom: 9px;
}

.listing-item-container.list-layout span.tag {
	position: absolute;
	bottom: 20px;
	left: 20px;
	background: #66676b;
	margin: 0;
	z-index: 10;
	line-height: 14px;
	padding: 7px 16px;
	margin-right: 20px;
	text-align: center;
}

/* Listing item details */
.listing-item-details {
	position: absolute;
	top: 24px;
	left: 0;
	padding: 0 32px;
	width: 100%;
	z-index: 50;
	color: #fff;
	box-sizing: border-box;
	font-weight: 500;
	font-size: 15px;
}

.listing-item-details ul {
	margin: 0;
	list-style: none;
	padding: 0;
}

.listing-item-details ul li {
	display: inline-block;
	margin-right: 6px;
	line-height: 20px;
}

.listing-item-details ul li i {
	display: inline-block;
	margin: 0 3px 0 0;
	position: relative;
	top: 0px;
	font-size: 14px;
}

/* Star Rating */
.star-rating {
	display: block;
	font-size: 17px;
}

.listing-item-container .star-rating {
	padding: 15px 32px;
}

.star-rating .star {
	display: inline-block;
	margin: 0;
	padding: 0;
	float: left;
	margin-right: 4px;
	position: relative;
}

.rating-counter {
	color: #909090;
	padding-left: 5px;
	display: inline-block;
	font-size: 15px;
}

.star-rating .rating-counter {
	top: -1px;
	position: relative;
}

.infoBox .star-rating .rating-counter {
	font-size: 15px;
	top: -2px;
}

.star-rating .star.half:after,
.star-rating .star:before {
	font-family: "FontAwesome";
	content: "\f005";
	display: block;
	color: #ffc600;
}

.star-rating .star.empty:before {
	color: #ddd;
}

.rating:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

.star-rating .star.half:before {
	color: #ddd;
}

.star-rating .star.half:after {
	color: #ffc600;
	position: absolute;
	top: 0;
	width: 50%;
	display: block;
	height: 100%;
	overflow: hidden;
}

.listing-badge {
	background-color: #333;
	float: left;
	position: absolute;
	transform: rotate(45deg);
	right: -64px;
	top: 22px;
	text-align: center;
	width: 200px;
	font-size: 12.5px;
	margin: 0;
	z-index: 999;
	color: #fff;
	font-weight: 500;
	line-height: 28px;
}

.listing-badge.now-open {
	background-color: #54ba1d;
}

/* ---------------------------------- */
/* Pagination
------------------------------------- */
.pagination {
	margin: 9px 0 0 0;
	text-align: center;
	overflow: hidden;
}

.pagination-next-prev {
	position: relative;
	top: -66px;
}

.pagination ul li {
	display: inline-block;
	margin: 0;
	padding: 0;
}

.pagination ul li a,
.pagination-next-prev ul li a {
	padding: 12px 0;
	border-bottom: none;
	display: inline-block;
	color: #333;
	background-color: #fff;
	font-weight: 700;
	margin: 0;
	line-height: 22px;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
	font-size: 14px;
}

.pagination ul li a {
	border-radius: 50%;
	width: 52px;
	height: 52px;
	padding: 0;
	line-height: 52px;
}

.pagination ul li a i {
	line-height: 52px;
}

.pagination ul li.blank {
	color: #a0a0a0;
	padding: 0 6px;
}

.pagination ul li a.current-page,
.pagination .current,
.pagination ul li a:hover,
.pagination-next-prev ul li a:hover {
	background-color: #f2f2f2;
	color: #333;
}

.pagination-next-prev a.next {
	float: right;
}
.pagination-next-prev a.prev {
	float: left;
}

.pagination-next-prev ul li a {
	color: #333;
	padding: 12px 16px;
	text-transform: uppercase;
}

.pagination ul,
.pagination-next-prev ul {
	padding: 0;
	list-style-type: none;
}

/* Listings Pagination */

.fs-listings .pagination ul li a,
.fs-listings .pagination-next-prev ul li a {
	background-color: transparent;
}

.fs-listings .pagination ul li a.current-page,
.fs-listings .pagination .current,
.fs-listings .pagination ul li a:hover,
.fs-listings .pagination-next-prev ul li a:hover {
	background-color: #e8e8e8;
	color: #333;
}

/*-------------------- Dokan Store Single Page --------------------*/

.dokan-single-store .profile-frame .profile-info-box .profile-info-img {
	max-height: 450px;
	object-fit: cover;
}

.sign_agreement {
	text-align: center;
}

.sign_agreement a,
.rgdis-request a {
	display: inline-block;
	width: 250px;
	height: 50px;
	background: #f05025;
	line-height: 46px;
	border-radius: 0 12px 0 12px;
	margin: 50px 0 0;
	font-weight: 600;
	font-size: 18px;
	border: 2px solid #f05025;
}

.iframe-contract {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	z-index: 3;
}

.iContract-mask {
	position: relative;
	width: inherit;
	height: inherit;
	background: rgba(0, 0, 0, 0.7);
	top: 0;
	left: 0;
}

.iContract-box {
	position: absolute;
	z-index: 5;
	background: #fff;
	width: 1200px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	padding: 40px;
	height: 75vh;
	margin: auto;
	border-radius: 5px;
	max-width: 95%;
}

.iContract-box iframe {
	width: 100%;
	height: 85%;
	margin-bottom: 25px;
}

.contract-agree,
.contract-agree input,
.contract-agree label {
	display: inline-block;
}

.contract-submit {
	display: inline-block;
}
.subscriber-submit input {
	width: 100% !important;
	margin-top: 0px !important;
}

body .dokan-single-store .profile-frame {
	margin: 0;
}

.rqdis-box {
	background: #efebe6;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
	margin: 0 0 40px;
	padding: 35px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: nowrap;
}

.rqdis-content {
	flex: 3;
}

.rgdis-request {
	flex: 1;
	padding: 0 30px;
	text-align: right;
}

.rqdis-content p {
	margin: 0;
	font-size: 18px;
	line-height: 1.5;
	color: #333;
}

.rgdis-request a {
	color: #fff;
	text-align: center;
	margin: 0;
}

.rgdis-request a:hover {
	border: 2px solid #f05025;
	background-color: transparent;
	padding: 0;
	text-decoration: none;
}

.iContract-box .agreement-box {
	height: 100%;
}

.iContract-box .agreement {
	max-height: 90%;
	overflow-y: scroll;
	margin: 0 0 3%;
	border: 1px solid #e7e7e7;
	padding: 35px;
}

.iContract-box .agreement ol li,
.iContract-box .agreement ol {
	list-style: decimal;
}

.iContract-box .agreement ul,
.iContract-box .agreement ul li {
	list-style: initial;
}

.contract-submit {
	float: right;
}

.contract-submit button {
	width: 150px;
	border-radius: 0 15px;
}

.rqdis-box.status-approved {
	background: #65c6bb;
	padding: 15px 35px;
	box-shadow: none;
}

.rqdis-box.status-approved .rqdis-content p {
	color: #333;
	font-size: 16px;
}

.sign_agreement p {
	background: #efebe6;
	box-shadow: 0px 1px 3px rgb(0 0 0 / 11%);
	margin: 25px 0 15px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: nowrap;
	line-height: 1.5;
	font-size: 14px;
}

@media screen and (max-width: 768px) {
	.iContract-box {
		padding: 15px;
	}
	.iContract-box .agreement {
		padding: 15px 8px;
		height: 75%;
	}
	.contract-agree {
		width: 100%;
		margin: 15px 0 0;
		display: inline-block;
	}
	.contract-submit {
		margin: 25px 0 0;
	}
}

textarea {
	padding: 15px;
}

/*------------------- Other Fixes --------------------*/

.head-banner {
	display: none;
}
