/*------------------ Master ------------------*/

.relative {
	position: relative;
}

body .hiddenV {
	display: none;
}

/*--------------------- Other ---------------------*/

a.link-cart {
	display: none;
}
.logged-in a.link-cart {
	display: block;
}

/*--------------------- Registration Form ---------------------*/

.form-row {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: flex-start;
}
.form-column {
	display: block;
	flex: 1;
}

p.form-row {
	display: block;
}

.form-column:nth-child(2) {
	padding-left: 20px;
}

.woocommerce form .form-row label,
.woocommerce-page form .form-row label,
.woocommerce-form-login .woocommerce-LostPassword {
	font-size: 15px;
}

span.form-tip {
	font-size: 12px;
	padding: 0 0 10px;
	display: block;
}

.woocommerce-form-register .woocommerce-privacy-policy-text p:last-child {
	font-size: 14px;
	line-height: 1.5;
}

.country_code {
	content: "";
	position: absolute;
	width: 50px;
	height: 30px;
	left: 0;
	display: block;
	border-right: 1px solid #ccc;
	top: 5px;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
}

input#reg_phone {
	padding-left: 70px;
}

.otp_div {
	margin: 15px 0 -15px;
}

.mid-size-column {
	width: 600px;
	margin: auto;
	max-width: 95%;
}

form.woocommerce-form h4 {
	margin: 35px 0 20px;
	font-weight: 700;
	font-size: 18px;
}

span.vn_form-err,
.master_login-err,
.vn_gst-err {
	padding: 15px 45px;
	display: inline-block;
	background: #cf000f;
	color: #fff;
	border-radius: 5px;
	margin: 25px 0 0;
}

span.vn_form-err,
.master_login-err,
.vn_gst-err {
	display: none;
}

.form-row span.required {
	color: #f05127;
}

.reg_gst {
	margin: -10px 0 10px;
}

.reg_gst.verified {
	position: relative;
}

.reg_gst.verified:before {
	content: "";
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
}

.reg_gst.verified:after {
	content: "";
	background-image: url("../../../../uploads/2022/06/check-mark.png");
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	background-repeat: no-repeat;
	background-size: 27px;
	background-position: calc(100% - 5px) 50%;
}

/*------------------ Dashboard ------------------*/

.mt-50.mb-50 {
	margin: 50px 0;
}

/*------------------ Woocommerce Single Page ------------------*/
.dokan-vendor-info-wrap {
	display: none;
}
.entry-summary-end {
	display: none;
}
.share {
	display: none;
}
.upsells {
	display: none;
}
.reg_lastname_err {
	color: red;
	position: relative;
	top: 7px;
}

.page-id-4759 .header {
    display: none;
}

.page-id-4759 .footer {
    display: none;
}